.cards {
  max-width: 92%;
  margin: 90px auto 0;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 16px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .cards {
    max-width: 90%;
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 544px) {
  .cards {
    grid-template-columns: repeat(1, auto);
    grid-gap: 12px;
  }
}
