@media screen and (max-width: 1280px) and (max-height: 7473px) {
    .place__burundi-rectangle {
            background: #0278FE;
                border-radius: 4px;
                max-width: 33vw;
                max-height: 8vh;
                margin-left: 12%;
                padding-bottom: 4vh;
                margin-top: -30%;
                
            
            
                grid-area: rectangle;

    }

    .place__burundi-rectangle:hover {
        background-color: #0063D2;
    }
}

@media screen and (max-width: 768px) and (max-height: 7382px) {
    .place__burundi-rectangle {
        background: #0278FE;
            border-radius: 4px;
            margin-left: 10%;
            margin-top: -43%;
            max-width: 33vw;
                max-height: 8vh;
        
        
        
        
        
            grid-area: rectangle;


    }

    .place__burundi-rectangle:hover {
        background-color: #0063D2;
    }
}

@media screen and (max-width: 320px) and (max-height: 9626px) {
    .place__burundi-rectangle {
        background: #0278FE;
            border-radius: 4px;
            max-width: 21vw;
            max-height: 1vh;
            margin-left: -36%;
            margin-top: 290%;

    }

    .place__burundi-rectangle:hover {
        background-color: #0063D2;
    }
}