.joseph-beuys__brief {
  width: 100%;
  max-width: 79%;
  margin: 90px auto 0;

  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.2;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .joseph-beuys__brief {
    max-width: 93%;
  }
}

@media screen and (max-width: 544px) {
  .joseph-beuys__brief {
    max-width: 90%;
    font-size: 32px;
    margin-bottom: 40px;
  }
}
