@media screen and (max-width: 1280px) and (max-height: 7473px) {
    .joseph-beuys__paragraph-jb {
        max-width: 73vw;
        max-height: 21vh;
        margin: auto;
        padding-top: 30vh;
        margin-left: 11vw;


        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 1.2;
        /* or 104% */


        color: #FFFFFF;
    }
}

@media screen and (max-width: 768px) and (max-height: 7382px) {
    .joseph-beuys__paragraph-jb {
        max-width: 90vw;
        max-height: 21vh;
        padding-top: 15vh;
        margin: 4%;


        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        /* or 104% */



        color: #FFFFFF;
    }
}

@media screen and (max-width: 320px) and (max-height: 9626px) {
    .joseph-beuys__paragraph-jb {
        max-width: 21vw;
        max-height: 43vh;
        padding-top: 0%;
        margin: 2%;


        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 6.5px;
        line-height: 1.2;
        /* or 104% */



        color: #FFFFFF;
    }
}