@media screen and (max-width: 1280px) and (max-height: 7473px) {
    .place__artist-grevisse {
    grid-area: artist;
        padding-top: 30vh;
        margin: auto;


    }
}

@media screen and (max-width: 768px) and (max-height: 7382px) {
    .place__artist-grevisse {
        grid-area: artist;
            padding-top: 5vh;


    }
}

@media screen and (max-width: 320px) and (max-height: 9626px) {
    .place__artist-grevisse {
        display: grid;



    }
}