@media screen and (max-width: 1280px) and (max-height: 7473px) {
    .joseph-beuys__paragraph {
        max-width: 52vw;
        max-height: 29vh;
        margin: auto;
        padding-top: 6vh;
        margin-left: 10vw;
        

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        /* or 120% */



        color: #FFFFFF;
    }
}

@media screen and (max-width: 768px) and (max-height: 7382px) {
    .joseph-beuys__paragraph {
            max-width: 71vw;
            max-height: 29vh;
            margin: auto;
            padding-top: 5.12vh;
            margin: 3%;
    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14.5px;
            line-height: 1.2;
            /* or 120% */
    
    
    
            color: #FFFFFF;
        }
}

@media screen and (max-width: 320px) and (max-height: 9626px) {
.joseph-beuys__paragraph {
        position: relative;
        max-width: 71vw;
        max-height: 29vh;
        margin: auto;
        padding-top: 0%;
        margin: 3%;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 4.8px;
        line-height: 1.2;
        /* or 120% */



        color: #FFFFFF;
    }
}