@media screen and (max-width: 1280px) and (max-height: 7473px) {
    .place__title-eua {
        max-width: 35vw;
            max-height: 24vh;
            padding-left: 5vw;
            padding-top: 5vh;
        
        
            grid-area: kiev;
        
        
            font-family: 'Inter';
            font-style: normal;
            font-weight: 900;
            font-size: 72px;
            line-height: 1.2;


    }
}

@media screen and (max-width: 768px) and (max-height: 7382px) {
    .place__title-eua {
        max-width: 40vw;
            max-height: 24vh;
            padding-left: 3vw;
            padding-top: 15vh;
        
            margin: 0%;
        
            grid-area: kiev;
        
        
            font-family: 'Inter';
            font-style: normal;
            font-weight: 900;
            font-size: 42px;
            line-height: 1.2;


    }
}

@media screen and (max-width: 320px) and (max-height: 9626px) {
    .place__title-eua {
        max-width: 21vw;
            max-height: 5vh;
            margin-left: -45%;
            margin-top: -110%;
        
        
        
            font-family: 'Inter';
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 1.2;
            /* identical to box height, or 109% */
        
        
            color: #FFFFFF;



    }
}